.header {
    text-align:center;
    font-weight:bold;
    background-color:#343a40;
    color:white;
}
p {
    font-size:15px;

}
.rules {
    text-align:center;
    font-weight:bold;
}
.container {
    text-align:center;
    font-weight:bold;
}
.start {
    text-align:center;
}
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#343a40;
    color:white;
    text-align:center;
    font-size:25px;
    left:0;
}
.jumbotron {
    background-color:white;
}